header.masthead {
    background: url('house3.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    opacity: 0.9;
    height: 100vh;

}

header.masthead > .overlay {
    padding: 5rem 0;
    text-align: center;
}

@media (min-width: 992px) {
    header.masthead > .overlay {
        padding: 10rem 0;
    }
}

/* Kat's custom styles start */
/* searchbar */
.search-container {
    background-color: #fff;
    border-radius: .25rem;
    padding: 1rem;
    border: 1px solid #cbcbcb;
    
}

.search-container label {
    display: block;
    text-align: left;
}

.search-separator {
    display: inline-block;
    margin-right: 1rem;
}

.search-btn {
    display: inline-block;
    background-color: #cbcbcb;
    cursor: pointer;
    margin-bottom: 1rem;
    vertical-align: bottom;
    padding: .25rem .5rem;
}

/* Kat's custom styles end */
/*---------------------*/

body {
    font-family: 'Product Sans', Arial, sans-serif;
    letter-spacing: 1px;
}

.featured-image {
    width: 444px;
    height: 300px;
    border-radius: 5px;
}

.featured-image:hover {
    opacity: 0.5;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.2);
}

.featured-text {
    color: white;
    font-size: 28px;
}

.featured-text-container {
    padding-top: 200px;
    padding-bottom: 200px;
}

.agent-image {
    width: 200px; 
    height: 200px;
    border-radius: 5px;
    vertical-align: top;
}

.agent-details {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}

.agent-container {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 100%;
    text-align: center;
}

.agent-border {
    border-radius: 5px;
    border: 2px solid lightgrey;
}

.agent-name {
    font-size: 20px;
    font-weight: bold;
}
