    header.masthead {
    background: url('auckland2.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 100vh;
}

header.masthead>.overlay {
    padding: 5rem 0;
    text-align: center;
}

@media (min-width: 992px) {
    header.masthead>.overlay {
        padding: 10rem 0;
    }
}


/* Kat's custom styles start */


/* move everything from out underneath the header */

body {
    padding-top: 84px;
    display: flex;
    flex-direction: column;
    height: 100%;
}


/* keeps footer at bottom of page */

html {
    height: 100%;
}

.flex {
    flex: 1 0 auto;
    padding: 6rem 0;
}


/* footer links */

footer a {
    padding: 0.5rem;
}


/* give footer more space */

footer {
    flex-shrink: 0;
    padding: 1rem 0;
}

a {
    color: #9b9b9b;
}

a:hover {
    text-decoration: none;
    color: inherit;
}


/* searchbar */

.search-container {
    background-color: #fff;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.search-container label {
    display: block;
    text-align: left;
}

.search-separator {
    display: inline-block;
    margin-right: 1rem;
}

.search-btn {
    display: inline-block;
    background-color: #ffdc73;
    cursor: pointer;
    margin-bottom: 1rem;
    vertical-align: bottom;
    padding: .25rem .5rem;
    width: 80px;
    height: 60px;
}

select {
    width: 150px;
    height: 60px;
}


/* dashboard styles */


/*.dashboard {
    color: #fff;
    padding-top: 100px;
    background-color: #222;
}*/

.welcome {
    margin-bottom: 3rem;
    display: block;
}


/* form styles */

.form-group {
    max-width: 500px;
}

.btn {
    cursor: pointer;
}

.btn-default {
    border: 1px solid rgba(0, 0, 0, .15)
}

#validation-message-container {
    margin: 1rem 0;
}

.error {
    color: #ff5656;
}


/* Kat's custom styles end */


/*---------------------*/


/*Taylas custom styles*/


/*---------------------*/

body {
    font-family: 'Product Sans', Arial, sans-serif;
    letter-spacing: 1px;
}

.logo {
    width: 249px;
    height: auto;
}

.title {
    margin: 50px;
    font-size: 28px;
    padding: 5px;
    padding-left: 10px;
    border-left: 4px solid #ffcd73;
    /*    color: #9b9b9b;*/
}

.featured-image {
    width: 444px;
    height: 300px;
}

.featured-image:hover {
    opacity: 0.5;
}

.navbar {
    background-color: white;
    box-shadow: 0px 0px 5px #888888;
}


/* dashboard navbar */

.dashboard-nav {
    background-color: #303030;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #9b9b9b;
}

.navbar-dark .navbar-nav .active>.nav-link {
    color: #ffdc73;
}

.featured-heading {
    color: white;
    font-size: 28px;
}

.featured-text1 {
    color: #ffcd73;
    font-size: 18px;
    word-spacing: 15px;
}

.featured-text2 {
    color: white;
    font-size: 20px;
}

.featured-text-container {
    padding-top: 200px;
    padding-bottom: 200px;
}

.agent-image {
    width: 180px;
    height: 180px;
    vertical-align: top;
}

.agent-details {
    display: inline-block;
    position: relative;
    color: #9b9b9b;
    font-family: 'Product Sans', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    padding: 2rem;
}

.agent-border {
    border: 1px solid #efefef;
    transition: border-color .22s ease-in-out;
}

.agent-border:hover {
    border: 1px solid darkgrey;
}

.agent-name {
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-transform: capitalize;
}

.agent-padding {
    padding: 1.5rem;
}

footer {
    background-color: white;
    box-shadow: 0px 0px 5px #888888;
    color: black;
    /*    background-color: #9b9b9b;*/
    /*Taylas custom styles end*/
    /*---------------------*/
