header.masthead {
    background: url('../images/searchbar-img.jpg') no-repeat center center scroll;
    background-size: cover;
    -o-background-size: cover;
    height: 92vh;
}

header.masthead > .overlay {
    padding: 5rem 0;
    text-align: center;
}

@media (min-width: 992px) {
    header.masthead > .overlay {
        padding: 10rem 0;
    }
}

/* Kat's custom styles start */

/* move everything from out underneath the header */

body {
    padding-top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
}


/* keeps footer at bottom of page */

html {
    height: 100%;
}

.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    padding-top: 2rem;
    padding-bottom: 6rem;
}

.container-fluid {
    padding: 0px;
}

/* footer links */

footer a {
    padding: 0.5rem;
}


/* give footer more space */

footer {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 1rem 0;
}

a {
    color: #9b9b9b;
}

a:hover {
    text-decoration: none;
    color: inherit;
}


/* searchbar */

.search-container {
    background-color: ;
    margin-top: 10px;
    margin-bottom: px;
    text-align: center;
}

.search-container label {
    display: block;
    text-align: left;
    color: #ffcd73;
}

.search-separator {
    display: inline-block;
    margin-right: 1rem;
}

.search-btn {
    display: inline-block;
    background-color: #ffdc73;
    cursor: pointer;
    vertical-align: middle;
    padding: .25rem .5rem;
    width: 80px;
    height: 60px;
    border: 0px;
}

select {
    width: 150px;
    height: 60px;
}


/* dashboard styles */

/*.dashboard {
color: #fff;
padding-top: 100px;
background-color: #222;
}*/

/* thumbnails for dashboard */

.thumbnail {
    max-width: 100px;
    height: auto;
}

.welcome {
    margin-bottom: 3rem;
    display: block;
}

/* form styles */

.form-group {
    max-width: 500px;
}

.btn,
button,
input[type="submit"] {
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
}

.reset {
    border: 1px solid #9b9b9b;
}

.btn-default {
    border: 1px solid rgba(0, 0, 0, .15)
}

#validation-message-container {
    margin: 1rem 0;
}

.error {
    color: #ff5656;
}

input[type=checkbox],
input[type=radio] {
    display: inline-block;
}

/* icons */

.homepage-heart {
    font-size: 20px;
    color: #ffcd73;
    position: absolute;
    left: 2.5rem;
    top: -1rem;
    text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}


.icon-heart-empty:before {
    content: '\e800';
}

.nav-link .icon-heart-empty:before {
    margin-right: 0.5rem;
    margin-left: 0;
    text-shadow: none;
}

.icon-menu {
    color: #ffcd73;

}

icon-menu:focus {
    outline: none;
}

.navbar-dark .navbar-toggler {
    font-size: 28px;
}

.navbar-dark .navbar-toggler:focus {
    outline: none;

}


.navbar-nav {
    color: #000;
}

.bold {
    font-weight: bold;
}


/* Kat's custom styles end */

/*---------------------*/

/*Taylas custom styles*/

/*---------------------*/

body {
    font-family: 'Product Sans', Arial, sans-serif;
    letter-spacing: 1px;
}

.logo {
    width: 209px;
    height: auto;
}

.title {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 38px;
    padding: 5px;
    padding-left: 10px;
    text-align: left;
    border-left: 4px solid #ffcd73;
    /*    text-transform: uppercase;*/
}

.contact-info {
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 40px;
}

.listing-title {
    font-size: 20px;
    font-weight: bold;
    position: relative;
    color: black;
    font-family: 'Product Sans', Arial, sans-serif;
    text-transform: capitalize;
    padding-left: 2rem;
    padding-top: 2rem;
}

.listing-city {
    font-size: 18px;
    color: #9b9b9b;
}

.listing-price {
    font-size: 18px;
}

.form-container {
    margin-left: 210px;
    padding-bottom: 20px;
}

.featured-image {
    width: 100%;
    height: auto;
    position: relative;
}

.featured-image:hover {
    opacity: 0.5;
}

.navbar {
    background-color: white;
    -webkit-box-shadow: 0px 0px 5px #888888;
    box-shadow: 0px 0px 5px #888888;
    padding: 0.2rem;
}

.property-details {
    display: inline-block;
    position: relative;
    color: #9b9b9b;
    font-family: 'Product Sans', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}

.property-border {
    border: 1px solid #efefef;
    -webkit-transition: border-color .22s ease-in-out;
    transition: border-color .22s ease-in-out;
}

.property-border:hover {
    border: 1px solid darkgrey;
}


.property-padding {
    padding: 1.5rem;
    padding-bottom: 4rem;
}


/* dashboard navbar */

.dashboard-nav {
    background-color: #303030;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #9b9b9b;
}

.navbar-dark .navbar-nav .active > .nav-link {
    color: #ffdc73;
}

.featured-heading {
    color: white;
    font-size: 28px;
}

.featured-text1 {
    color: #ffcd73;
    font-size: 14px;
    word-spacing: 15px;
}

.featured-text2 {
    color: white;
    font-size: 20px;
}

.featured-text-container {
    padding-bottom: 100px;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.4);
}

.agent-image {
    width: 180px;
    height: 180px;
    vertical-align: top;
}

.agent-details {
    display: inline-block;
    position: relative;
    color: #9b9b9b;
    font-family: 'Product Sans', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    padding: 2rem;
}

.agent-border {
    border: 1px solid #efefef;
    -webkit-transition: border-color .22s ease-in-out;
    transition: border-color .22s ease-in-out;
}

.agent-border:hover {
    border: 1px solid darkgrey;
}

.agent-name {
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-transform: capitalize;
}

.agent-padding {
    padding: 1.5rem;
}

.own-listing-image {
    width: 100%;
    height: auto;
    float: left;
    padding-right: 2rem;
    padding-top: 2rem;
}

.own-listing-title {
    font-size: 30px;
    padding-top: 4rem;
}

.own-listing-price {
    font-size: 24px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.own-listing-details {
    font-size: 20px;
}

.own-heart {
    font-size: 30px;
    color: #ffcd73;
    float: right;
    text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
    padding-top: 3rem;
}

.wishlist-link {
    color: black;
}

.wishlist-link:hover {
    color: #9b9b9b;
}

footer {
    background-color: white;
    -webkit-box-shadow: 0px 0px 5px #888888;
    box-shadow: 0px 0px 5px #888888;
    color: black;
}

/*-------contact form-------*/

main {
    background-color: ;
    width: 30%;
    padding: 10px;
    display: inline-block;
}

.form-group {
    margin-bottom: 1rem;
    text-align: left;
    border-radius: 2px;
    color: black;
}

.contact-label,
#message-label {
    color: white;
}

#textarea {
    color: black;
}

#textarea,
#textarea_feedback,
#messagebox,
#message-label {
    text-align: left;

}

.button {
    color: black;
    text-shadow: none;
    /* Prevent inheritence from `body` */
    background-color: #ffcd73;
    border: 1px solid #ffcd73;
    padding: 10px;
    border-radius: 6px;
}

input[type=text],
input[type=email],
input[type=password],
#textarea,
select,
#description,
#type,
#city {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    resize: none;
    border-radius: 6px;
}

select {
    padding: 0 !important;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
#textarea:focus {
    border: 3px solid #ffcd73;
}

.contact-label,
input,
.label,
#message-label {
    display: block;
}

ul {
    color: #fff;
    display: inline-block;
    margin: 0.5rem 0 0;
}

ul li {
    padding: 0.5rem;
}

.invalid {
    color: #ffcd73;
    font-family: 'Product Sans', Arial, sans-serif;
}

.valid {
    color: #ffcd73;
    font-family: 'Product Sans', Arial, sans-serif;
}

/* Custom default button */

.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    text-shadow: none;
    /* Prevent inheritence from `body` */
    background-color: #fff;
    border: 1px solid #ccc;
}
input[type="submit"]:hover {
      background-color: #ffcd73;
    border: 1px solid #ffcd73;
}

input[type="submit"]:focus {
    outline: none;
}

#btn-remove-file {
    text-transform: none;
}

.lead {
    font-family: 'Product Sans', Arial, sans-serif;
    display: inline-block;
    padding: 3px;
}

/*-----contact form end------*/

@media (max-width: 400px) {

    .featured-image {
        max-width: 50%;
        height: auto;
    }

    .agent-image {
        width: 100%;
        height: auto;
    }

    .about-info {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 540px) {

.agent-image {
    width: 100%;
    height: auto;
}

}

@media (max-width: 575px) {

.about-info {
    padding-left: 15px;
    padding-right: 15px;
}

.property-border {
    border: 1px solid #efefef;
    width: 100%;
    height: auto;
    -webkit-transition: border-color .22s ease-in-out;
    transition: border-color .22s ease-in-out;
}

.featured-image {
    max-width: 100%;
    height: auto;
}

.contact-info,
.contact-form {
    padding-left: 40px;
    padding-right: 40px;
}

.title {
    margin-left: 20px;
}

}

  

/*Taylas custom styles end*/

/*---------------------*/
